body{
 font-family: sans-serif;
 text-align: center;
 font-size: 45px;
 color: white;
 max-width: 1440px;
 margin: auto;
}

.container {
  padding: 20px;
  background-color: white;
} 

.header{
  background-color: #54d4ee;
  padding: 20px;
  margin-bottom: 20px;
}

.content {
  display: flex; 
  margin-bottom: 20px;
  height: 600px;

}

.content1 {
  flex: 2;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.hero{
  flex: 3;
  background-color: #d8c8e5;
  padding: 20px;
  margin-bottom: 20px ;
}

.sidebar{
  flex: 5;
  background-color: #a1c265;
  padding: 20px;
  margin-bottom: 20px;
}

.content2 {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.mainContent{
  flex: 7;
  background-color: #f6c834;
  padding: 20px;
  margin-bottom: 20px;
}

.extraContent{
  flex: 3;
  background-color: #898989;
  padding: 20px;
  margin-bottom: 20px;
}

.relatedContent {
  display: flex;
  margin-bottom: 20px;
}
.relatedImages{
  flex: 7;
  background-color: #2db776;
  padding: 20px;
  margin-right: 20px;
}
.relatedPosts{
  flex: 3;
  background-color: #f4cddf;
  padding: 20px;
}

.footer {
  background-color: #ffa502;
  padding: 20px;
  margin-top: 20px;
}